<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.rearth"
    versionCode = "10"
    version     = "1.0.0" >

  <name>Rearth</name>

  <description>
      Rearth is an app which will expand your knowledge about waste sorting and recycling.

  </description>

  <author href="" email="abhkst912@gmail.com">
      Busy bees team
  </author>

</widget>
