body{
    margin: 0;
    padding: 0;
    
}

h1{
    padding: 30px;
    font-size: 15rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px black; 
    font-family: 'Neucha', cursive;
}

img{
    max-height: 100%;
}

.main{
    display: flex;
    justify-content: space-around;
    align-content: center ;
    flex-direction: column;
    height: 1500px;
}

.block{
    display: flex;
    align-content: center;
}

.block-text{
    width: 50%;
}

.block-img{
    max-height: 100%;
    max-width: 50%;
}

.play-game{
    border-radius: 2em;
    height: 25%;
    background: #1A3946;
}

.explore{
    border-radius: 2em;
    height: 25%;
    background: #06D6A0;
}

.points{
    height: 25%;
    background: #ffc33e;
}

.settings{
    height: 25%;
    background: crimson;
}