body{
    margin: 0;
    padding: 0;
    
}

p a{
    color: #ffffff;
}

h1{
    padding: 30px;
    font-size: 15rem;
    color: #ffffff;
    text-shadow: 1px 1px 2px black; 
    font-family: 'Neucha', cursive;
}


.main{
    display: flex;
    justify-content: space-around;
    align-content: center ;
    flex-direction: column;
    height: 500px;
    width: 350px;
}

.block{
    justify-content: center;
    display: flex;
    align-items: center;
    border-radius: 2em;
    height: 25%;
}

.block-text{
    width: 30%;
}

.block-img{
    max-height: 100%;
    max-width: 70%;
}

.play-game{
    background: #1A3946;
}

.explore{
    background: #06D6A0;
}

.points{
    background: #ffc33e;
}

.settings{
    background: crimson;
}